html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Open Sans";
}

body {
    background-size: cover;
    font-size: 100%;
    width: 100%;
}
  
.editorContainer {
    margin: 0em;
    padding: 2em;
    border-left: #f6f7fb solid 2px;
    color: #2C3A51;
    text-align: left;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    order: 2;
    height: 60vh;
    flex: 1 1 auto;
    width: 1000px;
    background: #FBFAFA;
    align-items: center;
    align-self: stretch
}

.aboveEditor {
    font-size: 1.25em;
    text-align: left;
    height: 40px;
}

.tool-bar {
    border: #f6f7fb solid 2px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #dedcdc;
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}



input[type="text"].noteTitle {
    font-size: 17.5px;
    line-height: 20px;
    height: 20px;
    letter-spacing: 0.7px;
    font-family: "Open Sans";
    border-bottom: #f6f7fb solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    position: inline;
    padding: 0.5em;
    margin-left: 0.6em
}



button.submitNote {
    border-radius: 10px;
    font-size: 13px;
    float: right;
    padding: 0.5em;
    color: white;
    border: none;
    background-color:#194801;
    margin: 0.35em;

    text-decoration: none;
    cursor:pointer;
}

.editors {
    border: none;
    border-radius: 4px;
    padding: 1em 1.5em 3em 1.5em;
    margin: 0.5em 0.6em 1em 0.6em;
    font-family: "Helvetica";
    line-height: 1.4;
    color: #2C3A51;
    font-size: 16px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    min-height: 36%;
    overflow-x:hidden;
    overflow-y:auto;
    position: relative;
    height: 40vh;
    font-size: 90%;
}

.editors a {
  color: blue;
}

.RichEditor-activeButton {
  background-color: #feb47b;
  color: white;
}


#bold, #italic, #underline {
    width: 30px;
}


.styleButton#bold {
    font-weight: 800;
}

  
/*                                                  */
.styleButton, #link_url, .RichEditor-styleButton {
    padding: 6px 12px;
    background: white;
    border: none;
    color: #ff595a;
    margin: 0.35em;
    max-width: 35px;
    min-width: 30px;
    font-family: 'SF Pro Text';
    font-size: 13px;
    height: 2.25em;
}

.RichEditor-activeButton {
    background-color: #feb47b;
    color: white;
}

select {
    padding: 0.5em;
    background: white;
    border: none;
    color: #ff595a;
    margin: 0.35em;
    border-radius: 6px;
    font-family: 'SF Pro Text';
    font-size: 13px;;
    height: 2.25em;
}

#bold, #italic, #underline {
    width: 30px;
}

#code {
    font-family: "Andale Mono", monospace;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.styleButton#bold {
    font-weight: 800;
}

.styleButton#italic {
    font-style: italic;
    font-family: 'SF Pro Text';
}

.styleButton#underline {
    text-decoration: underline;
}

.material-icons {
    font-size: 13px;
}
  
div.DraftEditor-root {
    height: 100%;
    width: 100%;
}


div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}